
.m-i {
  width: 100%;
  height: 100%;

  &-h {
    width: 100%;
    height: 60px + 10px + 360px + 10px + 28px + 24px + 28px;
    background: url(../../assets/images/integral_header_background.png) center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 60px 0px 28px 0px;

    &-p-c {
      display: block;
      width: 380px;
      height: 380px;
      box-sizing: border-box;
      margin: 0 auto;
      position: relative;

      %activity-number-life-base {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 190px;
        border-width: 10px;
        border-style: solid;
        position: absolute;
        top: 0;
        left: 0;
      }

      &-value {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .flag {
          font-size: 28px;
          color: #DBC3A4;
        }

        .value {
          font-size: 72px;
          color: #DBC3A4;
        }

        .indicator {
          font-size: 24px;
          color: #DBC3A4;
          padding-right: 20px;
          background: url(../../assets/images/integral_arrow_right.png) center right no-repeat;
        }

      }

      &-activity {
        @extend %activity-number-life-base;
        border-color: #8C7F6B;
      }

      &-number {
        @extend %activity-number-life-base;
        border-color: #B3A188;
      }

      &-life {
        @extend %activity-number-life-base;
        border-color: #D9C3A4;
      }

    }

    &-c {
      width: 400px;
      margin:28px auto 0 auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      %banner-a-n-l-base {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 10px + 10px + 96px;
        height: 24px;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          display: inline-block;
        }

        .title {
          font-size: 24px;
          color: #666666;
          display: inline-block;
        }
      }

      &-activity {
        @extend %banner-a-n-l-base;
        .dot {
          background-color: #BC7F6B;
        }
      }

      &-number {
        @extend %banner-a-n-l-base;
        .dot {
          background-color: #B3A188;
        }
      }

      &-life {
        @extend %banner-a-n-l-base;
        .dot {
          background-color: #DBC3A4;
        }
      }

    }

  }

  &-banner{
    width:100%;
    height:110px;
    box-sizing: border-box;
    position:relative;

    &-logo{
      display:inline-block;
      margin-left:30px;
      width:116px;
      height:90px;
      background:url(../../assets/images/integral_logo_background.png) center center no-repeat;
    }

    &-desc{
      display:inline-block;
      position:absolute;
      left:0;
      top:0;
      text-align: center;
      width:100%;
      height:90px;
      line-height: 90px;
      color:#010101;
      letter-spacing: 2px;

      span{
        color:#d8c3a4;
        padding:0px 10px 0px 10px;
      }
    }

  }

  &-section-header{
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: #F5F5F5;
    padding-left:42px;
    box-sizing: border-box;
    font-size:24px;
    color:#d8c3a4;
  }

  &-order-container{
    width:100%;
    padding:0px 0px 0px 50px;
    box-sizing: border-box;
    background-color:#f8f8f8;

    .integral-order-cell{
      width:100%;
      display:flex;
      align-items: center;
      height:120px;

      &-image{
        width:80px;
        height:80px;

        img{
          width:100%;
          height:100%;
          border-radius: 40px;
        }

      }

      &-content{
        flex:1;
        display:flex;
        height:120px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right:40px;
        border-bottom:1px solid #e5e5e5;

        &-text{
          color:#010101;
          font-size:28px;
          margin-left:20px;
        }

        &-score{
          font-size:28px;
          color:#010101;
          text-align: right;
        }
      }

    }

    .integral-order-cell:last-child>.integral-order-cell-content{
      border-bottom:0px;
    }

  }

  &-more-container{
    width:100%;
    box-sizing: border-box;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;
  }

}

.more-integral{
  width:100%;
  box-sizing: border-box;
  background-color:#f8f8f8;

  .integral-order-common-cell{
    width:100%;
    height:120px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &-index{
      display:inline-block;
      width:100px;
      height:120px;
      line-height: 120px;
      text-align: center;
      color:#999999;
    }

    &-gold{
      display:inline-block;
      width:100px;
      height:120px;
      background:url(../../assets/images/gold.png) center center no-repeat;
      background-size: auto;
    }
    &-silver{
      display:inline-block;
      width:100px;
      height:120px;
      background:url(../../assets/images/silver.png) center center no-repeat;
      background-size: auto;
    }
    &-copper{
      display:inline-block;
      width:100px;
      height:120px;
      background:url(../../assets/images/copper.png) center center no-repeat;
      background-size: auto;
    }

    &-image{
      width:80px;
      height:80px;

      img{
        width:100%;
        height:100%;
        border-radius: 40px;
      }

    }

    &-content{
      flex:1;
      display:flex;
      height:120px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-right:40px;
      border-bottom:1px solid #e5e5e5;

      &-text{
        color:#010101;
        font-size:28px;
        margin-left:20px;
      }

      &-score{
        font-size:28px;
        color:#010101;
        text-align: right;
      }
    }

  }

  .integral-order-common-cell:last-child>.integral-order-common-cell-content{
    border-bottom:0px;
  }
}

.integral-detail{

  width:100%;
  box-sizing: border-box;
  background-color:#fff;

  .integral-detail-cell{
    width:100%;
    height:100px;
    padding:0px 0px 0px 40px;
    box-sizing: border-box;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title{
      font-size:28px;
      color:#000000;
    }

    &-score{
      font-size:28px;
      color:#000000;
      padding-right:40px;
    }

    &-bottom{
      position:absolute;
      width:100%;
      box-sizing: border-box;
      padding-left:40px;
      left:0px;
      bottom:-12px;
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &-date{
        font-size:24px;
        color:#999999;
        padding-right:14px;
      }

      &-line{
        flex:1;
        background-color:#e5e5e5;
        height:1px;
      }

    }

  }

}

