
.confirm-modal{
  display:block;

  .confirm-modal-bg{
    background: #000000;
    background: rgba(0, 0, 0, 1);
    bottom: 0;
    opacity: 0.5;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1004;
    left: 0;
  }

  .confirm-modal-content {
    border-radius: 4px;
    display: block;
    position: fixed;
    margin: auto auto;
    padding: 0 !important;
    top: calc(50% - 7.25rem);
    top: -webkit-calc(50% - 7.25rem);
    width: 12rem;
    height: 14.5rem;
    z-index: 1005;
    left: calc(50% - 6rem);
    left: -webkit-calc(50% - 6rem);
    background: rgba(9,21,36,1);
    padding: 1.66667rem;
    border: solid 1px #02f0ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    %p-base {
      margin-bottom: 0;
      display: block;
      width: 100%;
      text-align: left;
    }

    p.confirm-title{
      color: #02f0ff;
      font-size: 0.95rem;
      line-height: 0.95rem;
      height: 0.95rem;
      margin-top: 1rem;
      @extend %p-base;
      text-align: center;
    }

    p.confirm-product-name {
      color: rgba(#02f0ff, 0.5);
      font-size: 10px;
      line-height: 10px;
      height: 10px;
      margin-top: 1.25rem;
      @extend %p-base;

    }

    p.confirm-product-origin-price {
      color: rgba(#02f0ff, 0.5);
      font-size: 10px;
      line-height: 10px;
      height: 10px;
      margin-top: 0.5rem;
      @extend %p-base;
    }

    p.confirm-product-price {
      color: #4ef625;
      font-size: 10px;
      line-height: 10px;
      height: 10px;
      margin-top: 0.5rem;
      @extend %p-base;
    }

    %input-base{
      height:2rem;
      width:100%;
      background-color:transparent;
      border:1px solid rgba(#02f0ff,0.3);
      color:rgba(#02f0ff,0.3);
      font-size:0.5rem;
      padding-left:10px;
    }

    %input-base::-webkit-input-placeholder{
      color:rgba(#02f0ff,0.3);;
    }

    input.confirm-input-name{
      margin-top: 0.5rem;
      @extend %input-base;
    }

    input.confirm-input-phone{
      margin-top: 0.5rem;
      @extend %input-base;
    }

    div.confirm-action-group {
      margin-top: 1rem;
      padding: 0 0.5rem 0 0.5rem;
    }
  }
}