
$ticketPrefixCls: vip-ticket;

%flex-row-base{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

%sicircle-base{
  background-color:rgb(238,238,238);
  width:40px;
  height:40px;
  border-radius: 20px;
  display:inline-block;
  position:absolute;
}

.#{$ticketPrefixCls}{
  background-color:#eee;
  width:100%;
  height:100%;
  box-sizing: border-box;
  display:block;
  padding:30px 40px 100px 40px;

  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;

  &-sicircle-top-left{
    @extend %sicircle-base;
    //float:left;
    left:-20px;
    top:-20px;
  }

  &-sicircle-top-right{
    @extend %sicircle-base;
    //float:right;
    right:-20px;
    top:-20px;
  }

  &-sicircle-bottom-left{
    @extend %sicircle-base;
    float:left;
    left:-20px;
    bottom:-20px;
  }

  &-sicircle-bottom-right{
    @extend %sicircle-base;
    float:right;
    right:-20px;
    bottom:-20px;
  }

  &-remark{
    font-size:20px;
    width:100%;
    font-family: "PingFang SC";
    text-align: center;
    line-height: 70px;
    color:#999;
  }

  &-card{
    padding-top:50px;
    border-radius: 20px;
    width:100%;
    height:100%;
    //height:calc(100% - 50px - 90px);
    //height:-webkit-calc(100% - 50px - 90px);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    &-top{
      background-color:#ffffff;
      display:block;
      width:100%;
      height:calc(100% * 140 / 870);
      height:-webkit-calc(100% * 140 / 870);
      border-radius: 20px 20px 0px 0px;

      &>&-logo{
        width:130px;
        height:130px;
        display:block;
        box-sizing: border-box;
        border:10px solid rgb(238,238,238);
        position:relative;
        left:calc(50% - 60px);
        left:-webkit-calc(50% - 60px);
        top:-60px;
        border-radius: 65px;
        background-color:#cccccc;
        background-size:cover;
      }

      &>&-username{
        font-family: "PingFang SC";
        font-size:28px;
        color:#333333;
        font-weight: 600;
        position: relative;
        width:100%;
        text-align: center;
        top:-40px;
        line-height: 28px;
      }

      &>&-date{
        font-size:24px;
        line-height: 24px;
        font-family: "PingFang SC";
        color:#333333;
        width:100%;
        text-align: center;
        position:relative;
        top:-8px;
      }

      &>&-address{
        @extend %flex-row-base;
        position:relative;
        width:100%;
        top:-20px;
        justify-content:center;
        align-items: center;

        img:first-child{
          width:18px;
          height:24px;
        }

        span{
          max-width:calc(100% - 120px);
          max-width:-webkit-calc(100% - 120px);
          font-size:24px;
          font-family: "PingFang SC";
          color:#333333;
          margin-left:10px;
          margin-right:20px;
        }

        img:last-child{
          width:12px;
          height:22px;
        }

      }
    }

    &-bottom{
      width:100%;
      background-color:#ffffff;
      display:flex;
      flex-direction: column;
      justify-content: center;
      height:calc(100% * 220 / 870);
      height:-webkit-calc(100% * 220 / 870);
      align-items: center;
      border-radius: 0px 0px 20px 20px;
      padding:0px 50px 0px 50px;
      box-sizing: border-box;
      line-height:40px;

      .big{
        font-size:28px;
        color:#333;
        font-weight: 800;
      }

      .small{
        font-size:20px;

        color:#999;
        font-weight: 700;
      }

      &-share{
        width:100%;
        height:100px;
        border:1px solid #e3e3e3;
        font-size:28px;
        line-height: 100px;
        text-align: center;
        border-radius: 50px;
        color:#333;
      }
    }

    &-middle{
      position:relative;
      clear:both;
      background-color:rgb(248,248,248);
      flex: 1;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-top: 2px dashed rgb(238,238,238);
      border-bottom: 2px dashed rgb(238,238,238);

      &>&-title{
        width:100%;
        height:110px;
        text-align: center;
        display:block;
        font-size:48px;
        font-family: "PingFang SC";
        color:#333;
        font-weight: 700;
        line-height: 110px;
      }

      &>&-qrcode{
        display:block;
        flex:1;
        margin:0 auto;
        background:#ffffff;
        border:1px solid rgb(234,234,234);
        box-sizing: border-box;
        padding:10px;

        .qr-container{
          height:100%;
          width:auto;
          background:url(../../assets/images/loading.gif) center center no-repeat;
          background-size: 32px;
        }
      }

      &>&-desc{
        width:100%;
        box-sizing: border-box;
        padding:14px 0px 14px 0px;
        height:100px;

        span{
          font-size:20px;
          color:#999;
          line-height: 36px;
          display:block;
          text-align: center;
        }
      }
    }

  }

}