
.mine-activities-tab-pages{
  width:100%;
  height:100%;
  background-color:#f5f5f5;

  .am-tabs{
    height:100%;
  }

}

.loading-message{
  width:100%;
  height:100px;
  font-size:28px;
  color:#999;
  text-align: center;
  line-height: 100px;
}

.mine-activities{
  width:100%;
  height:100%;
  padding:20px 20px 20px 20px ;
  box-sizing: border-box;
  background-color:#f5f5f5;

  .mine-activity-cell{
    width:100%;
    height:250px;
    padding:40px 20px 40px 40px;
    box-sizing: border-box;
    position:relative;
    background-color:#FAB631;
    margin-bottom:20px;

    &-top{
      width:100%;
      height:3px;
      position:absolute;
      top:0;
      left:0;
      background:url('../../assets/images/灰色矩齿边.png') left center repeat-x;
    }

    &-bottom{
      width:100%;
      height:3px;
      position:absolute;
      bottom:0;
      left:0;
      transform: rotateX(-180deg);
      background:url('../../assets/images/灰色矩齿边.png') left center repeat-x;
    }

    &-title{
      width:100%;
      font-size:32px;
    }

    &-flag{
      width:160px;
      height:160px;
      background:center center no-repeat;
      background-size:contain;
      position:absolute;
      bottom:20px;
      right:60px;
    }

    &-date{
      font-size:28px;
      width:100%;
      position:absolute;
      left:0px;
      padding-left:40px;
      box-sizing: border-box;
      bottom:40px + 28px + 20px;
    }

    &-indicator{
      width:100%;
      height:27px;
      background:url('../../assets/images/arrow_right.png') right center no-repeat;
      background-size:contain;
      margin-top:39px;
    }

    &-address{
      width:100%;
      font-size:28px;
      position:absolute;
      left:0px;
      padding-left:40px;
      box-sizing: border-box;
      bottom:40px;
    }

  }

}