$prefixCls: sys-value;
$carouselPrefixCls:sys-carousel-container;

$rate : 928 / 560;


.tf-epl-dialog{
  width:100%;
  height:100%;


  &-cover{
    position:fixed;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.1);
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

.tf-epl{
  width:100%;
  background-color:#ffffff;
  position:relative;
  left:0;
  bottom:0;
  right:0;
  display:block;
  height:720px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding:40px;
  box-sizing: border-box;

  &-header{
    height:100px;

    span:first-child{
      font-size:48px;
      line-height: 100px;
      color:#333333;
      font-weight: 500;
    }

    span:last-child{
      font-size:24px;
      line-height: 100px;
      margin-left:40px;
      color:#999999;
    }
  }

  &-value{
    font-size:36px;
    color:#333333;
    line-height:36px;
    margin-top:40px;
    margin-bottom:20px;
  }

  &-line{
    width:100px;
    height:1px;
    background-color:#999999;
  }

  &-key-value{
    width:100%;
    line-height:50px;
    color:#999999;
    clear:both;
    margin-bottom:5px;
    span.key{
      display:inline-block;
      text-align:justify;
      text-align-last:justify;
      width:140px;
      line-height:50px;
      height:50px;
      display:inline-block;
      color:#999999;
      font-size:28px;
      float:left;
    }

    span.key:after{
      content:".";
      display: inline-block;
      width:100%;
      overflow:hidden;
      height:0;
    }

    span:nth-child(2){
      font-size:28px;
      padding:0px 15px 0px 8px;
    }

    span:last-child{
      font-size:28px;
      color:#333333;
      letter-spacing:7px;
      clear:both;
    }
  }
}

.#{$prefixCls}{
  background-color:rgb(238,238,238);
  box-sizing: border-box;
  display:block;
  width:100%;
  height:100%;
  margin:0 auto;
}

.#{$carouselPrefixCls}{
  display:flex;
  align-items: center;
  box-sizing: border-box;
  position:relative;
  background:url(../../assets/images/mysk.png) center center no-repeat;
  background-size:contain;
  margin:0 auto;

  span{
    display:block;
    width:100%;
    height:200px;
    text-align: center;
    font-size:200px;
    font-family:"simsun","San Francisco";

    span{
      font-size:30px;
      line-height: 30px;
      height:30px;
      color:#999999;
    }
  }

  &-event-proxy{
    width:120px;
    height:120px;
    position:absolute;
    background-color:transparent;
    left:calc(50% - 60px);
    left:-webkit-calc(50% - 60px);
    //bottom:230px;
  }

  &-top{
    display:block;
    position:absolute;
    width:100%;
    height:50%;
    background:url(../../assets/images/card-top-background_sm.png) top center no-repeat;
    background-size: 100% auto;
  }

  &-middle{
    color:#333333;
    display:flex;
    align-items: center;
    width:100%;
    text-align: center;
    position:absolute;
    box-sizing: border-box;
    top:0;
    left:0;
    bottom:0;
    right:0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC";

    &-value-container{
      width:100%;
      height:600px;
      line-height: 600px;
      background-color:#ffffff;
      text-align: center;
      padding:30px;

      span{
        display:block;
        width:100%;
        height:100%;
        border:1px solid rgb(227,227,227);
        font-size:200px;
      }
    }
  }

}