@mixin color-gradient-top-bottom($startColor,$endColor) {
  background-image: -moz-linear-gradient(top, $startColor, $endColor);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $startColor), to($endColor));
  background-image: -webkit-linear-gradient(top, $startColor, $endColor);
  background-image: -o-linear-gradient(top, $startColor, $endColor);
  background-image: linear-gradient(to bottom, $startColor 0, $endColor 100%);
  background-repeat: repeat-y;
}

@mixin color-gradient-bottom-top($startColor,$endColor) {
  background-image: -moz-linear-gradient(bottom, $startColor, $endColor);
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, $startColor), to($endColor));
  background-image: -webkit-linear-gradient(bottom, $startColor, $endColor);
  background-image: -o-linear-gradient(bottom, $startColor, $endColor);
  background-image: linear-gradient(to top, $startColor 0, $endColor 100%);
  background-repeat: repeat-y;
}

%cover-icon {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 76px 76px;
}

%semi-circle {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100% * 0.5;
  position: absolute;
}

@mixin block-semi-circle-percent($width) {
  width: $width;
  height: $width;
  box-sizing: border-box;
  border-radius: $width * 0.5;
  position: absolute;
}

@mixin block-semi-circle-fixed($width) {
  width: $width;
  height: $width;
  box-sizing: border-box;
  border-radius: $width * 0.5;
  position: absolute;
}

.life-lyrics {
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  &-content {
    text-align: center;
    padding: 80px 20px 20px 20px;
    height: auto;
    color: #999999;
    font-size: 38px;
    line-height: 60px;
  }

}

.life-clock {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #0d0d0d;

  &-audio {
    //display:none;
  }

  &-message {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    position:relative;
    width: 100%;
    top: 260px;
  }

  &-pie-container {
    display: block;
    width: 520px;
    height: 520px;
    background-color: #171717;
    margin: 0 auto;
    position: relative;
    top: 160px;
    border-radius: 260px;

    &-music-flag {
      @extend %cover-icon;
      z-index: 9;
      border-radius: 260px;

      .music {
        position: relative;
        border-radius: 36px;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        top: 0;
        background-size:cover;
        //background: url("../../assets/images/music_flag.png") top center no-repeat;
        //background-size: 80px 80px;

        .walking{
          display:block;
          width:100%;
          height:100%;
          background: url('../../assets/images/walking.gif') center center no-repeat;
          -webkit-background-size:80px;
          background-size:80px;
        }
      }
    }

    &-alarm-flag {
      @extend %cover-icon;
      z-index: 8;
      background: url("../../assets/images/alarm_flag.png") top center no-repeat;
      border-radius: 260px;
      background-size: 80px 80px;
    }

    &-progress-left {
      @include block-semi-circle-percent(100%);
      background-color: #171717;
      z-index: 5;
      clip: rect(0px, 260px, 520px, 0px);
    }

    &-progress-right {
      @include block-semi-circle-percent(100%);
      background-color: #171717;
      z-index: 7;
      display: none;
      clip: rect(0px, 520px, 520px, 260px);
    }

    &-left {
      @include color-gradient-bottom-top(#ffbd00, #ffc200);
      @include block-semi-circle-percent(100%);
      border: 1px solid #171717;
      clip: rect(0px, 260px, 520px, 0px);
      z-index: 6;
    }

    &-right {
      @include color-gradient-top-bottom(#ffa000, #ffbd00);
      @include block-semi-circle-percent(100%);
      border: 1px solid #171717;
      clip: rect(0px, 520px, 520px, 260px);
      z-index: 4;
    }

    &-lock {
      position: absolute;
      z-index: 10;
      display: block;
      width: 360px;
      height: 360px;
      background: url("../../assets/images/time_scale.png") #000 center center no-repeat;
      background-size: contain;
      border-radius: 180px;
      left: 80px;
      top: 80px;
      color: #ffffff;
      text-align: center;
      line-height: 360px;
      font-size: 65px;
    }
  }

  &-start-pause {
    width: 100%;
    height: 120px;
    position: relative;
    top: 260px;

    .start {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      background: url(../../assets/images/start.png) center center no-repeat;
      background-size: cover;
    }

    .pause {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      background: url(../../assets/images/pause.png) center center no-repeat;
      background-size: cover;
    }
  }
}

.life-index {
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;


  .am-carousel-wrap-dot>span{
    background-color:rgba(255,255,255,0.2);
  }

  .am-carousel-wrap-dot.am-carousel-wrap-dot-active>span{
    background-color:rgba(255,255,255,0.8);
  }

  &-announce {
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9999;
    background-color: #171717;
    align-items: center;
    padding: 0px 20px 0px 20px;

    &-img {
      width: 22px;
      height: 20px;
      background: url(../../assets/images/announce.png) center center no-repeat;
      background-size: cover;
    }

    &-text {
      color: #666666;
      font-size: 24px;
      text-align: center;
      flex: 1;
      padding-right: 22px;
      letter-spacing: 2px;
      span {
        color: #ffffff;
        padding: 0px 8px 0px 8px;
      }
    }

  }

}